<h3>Shopping Deal</h3>
<p class="jumbotron panel panel-success">
    Yes, this post is about, well, "About Us" pages. But sometimes, you don't always need to wait for users to get there in order to make a statement. That's part of breaking the mold to showcase your company's personality.
</p>
    <p class="jumbotron panel panel-success">
    That's exactly what Cultivated Wit -- a creative agency and media company -- does, with both an edgy name and an incredibly fun story told through video and parallax scrolling ... right on its homepage.
</p>