<div class="col-md-12">

    <form style="margin-top:10%;width:500px;margin-left:20%" id="registerform" name="registerform" validate-invalid class="form-signin">

        <div class="form-group row">
            <label class="col-md-4 col-form-label">Old Password</label>
            <div class="col-md-8">
                <input class="form-control" id="inpoldPassword" type="password" ng-model="user.oldpassword"
                       name="inpoldPassword" placeholder="Old Password" required>

                <div style="font-size:12px;padding-left:5px;margin-top:-7px;color:red"
                     ng-show="registerform.inpoldPassword.$invalid && ShowError">
                    <span ng-show="registerform.inpoldPassword.$error.required">
                        Old password is required
                    </span>
                </div>

            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label">New Password</label>
            <div class="col-md-8">
                <input class="form-control" id="inpnewPassword" type="password" ng-model="user.newpassword"
                       name="inpnewPassword" placeholder="New Password" required>

                <div style="font-size:12px;padding-left:5px;margin-top:-7px;color:red"
                     ng-show="registerform.inpnewPassword.$invalid && ShowError">
                    <span ng-show="registerform.inpnewPassword.$error.required">
                        New Password is required
                    </span>
                </div>

            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label">ReEnter New Password</label>
            <div class="col-md-8">
                <input class="form-control" id="inprenewPassword" type="password" ng-pattern="user.newpassword" ng-model="user.renewpassword"
                       name="inprenewPassword" placeholder="ReEnter New Password" required>

                <div style="font-size:12px;padding-left:5px;margin-top:-7px;color:red"
                     ng-show="registerform.inprenewPassword.$invalid && ShowError">
                    <span ng-show="registerform.inprenewPassword.$error.required">
                        ReEnter password is required
                    </span>
                    <span ng-show="registerform.inprenewPassword.$error.pattern">
                        Password not match
                    </span>
                </div>

            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6"></div>
            <div class="col-md-4">
                <button class="btn btn-success" ng-click="changePassword(form.enableSubmit)">Change Password</button>
            </div>            
        </div>

    </form>

</div>